---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import { Counter } from "../../components/Counter";
import { getLaunById, getAllPeticiones } from "../../services/peticiones";
import BtnsCaps from "../../components/BtnsCaps.astro";
import BtnesMove from "../../components/BtnesMove.astro";
export const prerender = false; //envio al servidos

const { id } = Astro.params;
let launch = null;
if (id) {
    launch = await getLaunById({ id });
    launch = launch.ddt;
}

// export async function getStaticPaths() {
//     const launches = await getAllPeticiones([
//         "kaiju-8",
//         "jujutsu-kaisen",
//         "bleach",
//         "tokyo-revengers",
//         "one-piece",
//     ]);
//     return launches.flatMap((elLisst) => {
//         return elLisst.map((launch) => ({ params: { id: launch.id } }));
//     });
// }

const qrGeneros = launch?.genres.map((e) => {
    if (e === launch?.genres.at(-1)) {
        return e;
    }
    return `${e}, `;
});

const reformatName = (val = "") => {
    const x = val.split("-");
    return x.join(" ");
};

const qrEstado = launch?.status === "Completed" ? "Completado" : "En curso";
const numerosCaps = launch?.episodes.length ?? 3;
const tama単oDescription = launch?.description.length ?? 20;
const qrCambioPorTexto = tama単oDescription <= 50 ? true : false;

const parrafoDescLargo = !qrCambioPorTexto ? ` ` : "";
---

<Layout title={`${id} | anime en linea - AnimeVision`}>
    <article>
        <div
            class:list={[
                "grid gap-y-0 grid-flow-row grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 place-items-center",
                {
                    "lg:grid-cols-5": qrCambioPorTexto,
                },
            ]}
        >
            <Image
                class:list={[
                    "rounded-xl shadow-xl start-0",
                    {
                        "w-full h-full sm:row-start-1 sm:col-span-2 sm:row-span-2 ":
                            !qrCambioPorTexto,
                    },
                ]}
                src={launch?.image ?? ""}
                alt={launch?.otherName ?? ""}
                title={launch?.title}
                height={200}
                width={200}
                loading="eager"
            />

            <h2
                class:list={[
                    "text-2xl text-center py-6 px-4 font-semibold sm:row-start-1",
                    ,
                    {
                        "sm:col-span-4 start-2  sm:col-start-2 sm:-translate-y-20 md:col-start-2  ":
                            qrCambioPorTexto,
                    },
                    {
                        "sm:col-span-4 sm:row-span-1 sm:col-start-3  self-start":
                            !qrCambioPorTexto,
                    },
                ]}
            >
                {launch?.title}
            </h2>

            <div
                class:list={[
                    "m-4 sm:my-12 place-content-center text-center text-[14px] grid grid-cols-1 gap-x-4 gap-y-2 justify-items-center md:text-[15px]",
                    {
                        " sm:col-span-4 sm:grid-cols-2 sm:max-w-xl lg:max-w-3xl sm:row-start-1 sm:col-start-2 sm:translate-y-1/3 ":
                            qrCambioPorTexto,
                        "sm:mt-[10.1rem] sm:mb-36 sm:self-start sm:col-span-2 sm:row-start-3 sm:row-span-1 sm:col-start-1 ":
                            !qrCambioPorTexto,
                    },
                ]}
            >
                <b class="text-center font-medium">
                    Genero: <span class="font-normal"> {qrGeneros}</span>
                </b>
                <b class="font-medium"
                    >Anime creado en el a単o <span class="font-normal"
                        >{launch?.releaseDate}</span
                    ></b
                >
                <b class="font-medium capitalize">
                    Tramitido: <span class="font-normal"> {launch?.type}</span>
                </b>
                <b class="font-medium"
                    >Estado del anime: <span class="font-normal"
                        >{qrEstado}</span
                    ></b
                >
                <b class="font-medium"
                    >Numero de episodios: <span class="font-normal"
                        >{launch?.totalEpisodes}</span
                    ></b
                >
                <b class="font-medium">
                    Doblaje: <span class="font-normal">
                        {launch?.subOrDub}</span
                    >
                </b>

                {
                    qrCambioPorTexto ? (
                        <p
                            class:list={[
                                "text-lg text-center ",
                                {
                                    "col-span-2 mb-4 row-start-1 sm:mt-4 sm:row-start-4":
                                        qrCambioPorTexto,
                                    "": !qrCambioPorTexto,
                                },
                            ]}
                        >
                            {launch?.description}
                        </p>
                    ) : (
                        ""
                    )
                }
            </div>

            <div
                class:list={[
                    "flex w-full sm:flex-row text-center text-3xl font-medium py-6 relative",
                    {
                        "flex-col col-span-1 sm:col-span-3 md:col-span-5 ":
                            qrCambioPorTexto,
                    },
                    {
                        "sm:flex-row sm:justify-center sm:gap-4 sm:row-span-1 sm:col-span-4 sm:col-start-3 sm:row-start-3":
                            !qrCambioPorTexto,
                    },
                ]}
            >
                <div
                    class="max-h-80 basis-full md:basis-6/12 flex flex-col items-center gap-2"
                >
                    <div class="max-h-[30%] mb-2">
                        <h2 class="pb-2">Tablero de Opciones</h2>
                    </div>
                    <div
                        class="min-h-[70%] max-h-48 min-w-[calc(20rem+4px)] bg-slate-800 relative rounded-md p-4 shadow-xl"
                    >
                        <Counter
                            changeTama単o={qrCambioPorTexto}
                            imgBgVoid={launch?.image}
                            client:load
                            id={id}
                        />
                    </div>
                </div>
                <!-- capitulos site -->
                <div
                    class="h-80 basis-full md:basis-6/12 flex flex-col items-center gap-2"
                >
                    <div class="mb-2 max-h-[30%]">
                        <h3 class="pt-6 pb-2 sm:pt-0">Capitulos</h3>
                    </div>
                    <div
                        id="scroll-caps"
                        class="min-h-[70%] max-h-48 w-[calc(20rem+4px)] py-4 bg-slate-800 relative rounded-md shadow-xl"
                    >
                        <div
                            class="h-[20%] flex justify-center items-center relative"
                        >
                            <b class="mx-auto pb-2 text-2xl font-bold"
                                >Total de Capitulos: {launch?.totalEpisodes}</b
                            >
                        </div>
                        <div
                            class:list={[
                                "h-[80%] max-h-[6.5rem] flex flex-col items-center gap-3 scroll-smooth overflow-y-auto overflow-x-hidden snap-mandatory snap-y mx-3",
                                ,
                                {
                                    "justify-center": numerosCaps <= 2,
                                },
                            ]}
                        >
                            {
                                launch?.episodes.map((episode) => (
                                    <BtnsCaps
                                        imgCap={launch.image}
                                        nameCap={reformatName(episode.id)}
                                        descCap={launch.description.slice(
                                            0,
                                            25,
                                        )}
                                        urlCap="kaijuu-8-gou-episode-1"
                                        nameUrlcap={episode.id}
                                    />
                                ))
                            }
                        </div>
                    </div>
                </div>
                <!-- fin capitulos site-->

                <!-- boton volver & ... -->

                <!-- fin boton volver & ... -->
            </div>

            {
                !qrCambioPorTexto ? (
                    <p
                        class:list={[
                            "text-lg text-center ",
                            {
                                "col-span-2 mb-4 row-start-1 sm:mt-4 sm:row-start-4":
                                    qrCambioPorTexto,
                                "sm:row-start-2 sm:col-span-6 p-4 min-h-90":
                                    !qrCambioPorTexto,
                            },
                        ]}
                    >
                        {launch?.description}
                    </p>
                ) : (
                    ""
                )
            }
            <div
                class:list={[
                    "max-w-sm max-h-10 flex ",
                    {
                        "row-start-5 relative top-10": qrCambioPorTexto,
                        "sm:row-start-4": !qrCambioPorTexto,
                    },
                ]}
            >
                <BtnesMove>Volver</BtnesMove>
            </div>
        </div>
    </article>
    <!-- <article class="py-8"></article> -->
</Layout>
<style is:global>
    *::-webkit-scrollbar-track {
        border-top-right-radius: 50vw 50vw;
        border-bottom-right-radius: 50vw 50vw;
    }

    #favorito:checked + .fav {
        color: red;
        transition: 0.15s;
        animation: open-favorito 0.15s ease-in-out both alternate;
    }
    #favorito:not(:checked) + .fav {
        color: whitesmoke;
        animation: noopen-favorito 0.15s ease-in-out;
        transition: 0.25s;
    }

    #scroll-notas::-webkit-scrollbar-track {
        border-bottom-right-radius: 0;
    }
    .send:active {
        animation: open-favorito 0.15s ease-in-out;
    }
    .fade {
        animation: fade-in 150ms ease;
    }
    .scrolear::-webkit-scrollbar-track-piece {
        scroll-inline-margin: 10px 0;
    }
    @keyframes noopen-favorito {
        0% {
            scale: 1;
        }
        40% {
            scale: 0.85;
        }
        100% {
            scale: 1;
        }
    }
    @keyframes open-favorito {
        0% {
            scale: 1;
        }
        40% {
            scale: 0.85;
        }
        100% {
            scale: 1;
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0.2;
        }
        100% {
            opacity: 1;
        }
    }
</style>
