---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import { Counter } from "../../components/Counter";
import { getLaunById, getAllPeticiones } from "../../services/peticiones";
import BtnsCaps from "../../components/BtnsCaps.astro";
import BtnesMove from "../../components/BtnesMove.astro";
export const prerender = false; //envio al servidor

const { id } = Astro.params;
let launch = null;
if (id) {
    launch = await getLaunById({ id });
    launch = launch.ddt;
}

// export async function getStaticPaths() {
//     const launches = await getAllPeticiones([
//         "kaiju-8",
//         "jujutsu-kaisen",
//         "bleach",
//         "tokyo-revengers",
//         "one-piece",
//     ]);
//     return launches.flatMap((elLisst) => {
//         return elLisst.map((launch) => ({ params: { id: launch.id } }));
//     });
// }

const qrGeneros = launch?.genres.map((e) => {
    if (e === launch?.genres.at(-1)) {
        return e;
    }
    return `${e}, `;
});

const reformatName = (val = "") => {
    const x = val.split("-");
    return x.join(" ");
};

const qrEstado = launch?.status === "Completed" ? "Completado" : "En curso";

const numerosCaps = launch?.episodes.length ?? 3;
const tamañoDescription = launch?.description.length ?? 30;
const sinDesc = tamañoDescription === 0;
const descPequeña = tamañoDescription < 40;
const descLarga = tamañoDescription >= 200;
---

<Layout title={`${id} | anime en linea - AnimeVision`}>
    <article>
        <div
            class:list={[
                "grid gap-y-0 grid-flow-row grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 place-items-center",
                {},
            ]}
        >
            <Image
                class:list={[
                    "rounded-xl shadow-xl col-start-1 row-start-2 sm:row-start-1 sm:row-span-2	 lg:col-span-2",
                    {
                        "my-0 md:my-6 lg:my-8":
                            tamañoDescription > 800 && tamañoDescription < 1000,
                    },
                ]}
                src={launch?.image ?? ""}
                alt={launch?.otherName ?? ""}
                title={launch?.title}
                height={200}
                width={200}
                loading="eager"
            />
            <!-- titulo -->
            <h2
                class:list={[
                    "text-2xl text-center py-4 px-2 font-semibold col-span-2 md:col-span-3 row-start-1 lg:col-start-3 lg:col-span-4",
                    {},
                ]}
            >
                {launch?.title}
            </h2>
            <!-- atributos -->
            <div
                class:list={[
                    "m-2 text-center text-sm md:text-[15px] row-start-2 lg:row-start-2 grid place-content-center gap-x-4 gap-y-2 ",
                    {
                        "md:grid-flow-col md:grid-rows-2 justify-items-center col-span-2 md:col-span-3  lg:col-span-4 lg:col-start-3  ":
                            descLarga,
                        "grid-flow-row grid-cols-1 sm:grid-cols-2 col-span-2 md:col-span-3 lg:col-span-4 lg:col-start-3  ":
                            sinDesc,
                        "md:col-span-2 col-start-1 w-full": descPequeña,
                    },
                ]}
            >
                <b class:list={["text-center font-medium ", {}]}>
                    Genero: <span class="font-normal"> {qrGeneros}</span>
                </b>
                <b class="font-medium"
                    >Anime creado en el año <span class="font-normal"
                        >{launch?.releaseDate}</span
                    ></b
                >
                <b class="font-medium capitalize">
                    Tramitido: <span class="font-normal"> {launch?.type}</span>
                </b>
                <b class="font-medium"
                    >Estado del anime: <span class="font-normal"
                        >{qrEstado}</span
                    ></b
                >
                <b class="font-medium"
                    >Numero de episodios: <span class="font-normal"
                        >{launch?.totalEpisodes}</span
                    ></b
                >
                <b class="font-medium">
                    Doblaje: <span class="font-normal">
                        {launch?.subOrDub}</span
                    >
                </b>
            </div>
            <!-- cambio de opciones -->
            <div
                class:list={[
                    "flex w-full sm:flex-row flex-col text-center text-3xl font-medium py-7 relative gap-y-12 sm:gap-y-0 col-span-2 sm:col-span-3 md:col-span-4 lg:col-span-6",
                    { "row-start-3": sinDesc, "row-start-4": descLarga },
                ]}
            >
                <!-- opciones-->
                <div
                    class="h-80 basis-full md:basis-6/12 flex flex-col items-center gap-2 order-2 sm:order-1"
                >
                    <div class="h-16 mb-2">
                        <h2 class="pb-2">Tablero de Opciones</h2>
                    </div>
                    <div
                        class="sm:min-h-56 max-h-48 min-w-[calc(20rem+4px)] bg-slate-800 relative rounded-md p-4 shadow-xl"
                    >
                        <Counter
                            imgBgVoid={launch?.image}
                            client:visible
                            id={id}
                        />
                    </div>
                </div>
                <!-- capitulos site -->
                <div
                    class="h-80 basis-full md:basis-6/12 flex flex-col items-center gap-2 order-1 sm:order-2"
                >
                    <div class="mb-2 h-16">
                        <h2 class="pb-2">Capitulos</h2>
                    </div>
                    <div
                        id="scroll-caps"
                        class="sm:min-h-56 max-h-48 w-[calc(20rem+4px)] py-4 bg-slate-800 relative rounded-md shadow-xl"
                    >
                        <div
                            class="h-[20%] flex justify-center items-center relative"
                        >
                            <b class="mx-auto pb-2 text-2xl font-bold"
                                >Total de Capitulos: {launch?.totalEpisodes}</b
                            >
                        </div>
                        <div
                            class:list={[
                                "sm:h-[calc(80%-1px)] h-[6.5rem] pe-1 pt-4  flex flex-col items-center gap-3 scroll-smooth overflow-y-auto overflow-x-hidden snap-mandatory snap-y mx-3",
                                ,
                                {
                                    "justify-center": numerosCaps <= 2,
                                },
                            ]}
                        >
                            {
                                launch?.episodes.map((episode) => (
                                    <BtnsCaps
                                        imgCap={launch.image}
                                        nameCap={reformatName(episode.id)}
                                        descCap={launch.description.slice(
                                            0,
                                            25,
                                        )}
                                        urlCap="kaijuu-8-gou-episode-1"
                                        nameUrlcap={episode.id}
                                    />
                                ))
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- descripcion -->
            <p
                class:list={[
                    "text-lg text-center p-7 h-[40vh] flex items-center",
                    {
                        "col-span-2 sm:col-span-3 md:col-span-4 lg:col-span-6 row-start-3":
                            descLarga,
                        " row-start-2 col-start-5 lg:col-span-2": descPequeña,
                    },
                ]}
            >
                {launch?.description}
            </p>
            <!-- boton de volver -->
            <div
                class:list={[
                    "max-w-sm max-h-10 row-start-5 flex justify-self-start",
                    {},
                ]}
            >
                <BtnesMove>Volver</BtnesMove>
            </div>
        </div>
    </article>

    <!-- <article class="py-8"></article> -->

    <style is:global>
        *::-webkit-scrollbar-track {
            border-top-right-radius: 50vw 50vw;
            border-bottom-right-radius: 50vw 50vw;
        }

        #favorito:checked + .fav {
            color: red;
            transition: 0.15s;
            animation: open-favorito 0.15s ease-in-out both alternate;
        }
        #favorito:not(:checked) + .fav {
            color: whitesmoke;
            animation: noopen-favorito 0.15s ease-in-out;
            transition: 0.25s;
        }

        #scroll-notas::-webkit-scrollbar-track {
            border-bottom-right-radius: 0;
        }
        .send:active {
            animation: open-favorito 0.15s ease-in-out;
        }
        .fade {
            animation: fade-in 150ms ease;
        }
        .scrolear::-webkit-scrollbar-track-piece {
            scroll-inline-margin: 10px 0;
        }
        @keyframes noopen-favorito {
            0% {
                scale: 1;
            }
            40% {
                scale: 0.85;
            }
            100% {
                scale: 1;
            }
        }
        @keyframes open-favorito {
            0% {
                scale: 1;
            }
            40% {
                scale: 0.85;
            }
            100% {
                scale: 1;
            }
        }

        @keyframes fade-in {
            0% {
                opacity: 0.2;
            }
            100% {
                opacity: 1;
            }
        }
    </style>
</Layout>
