---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import { Counter } from "../../components/Counter";
import { getLaunById, getAllPeticiones } from "../../services/peticiones";
import BtnsCaps from "../../components/BtnsCaps.astro";
import BtnesMove from "../../components/BtnesMove.astro";
export const prerender = false; //envio al servidos

const { id } = Astro.params;
let launch = null;
if (id) {
    launch = await getLaunById({ id });
    launch = launch.ddt;
}

// export async function getStaticPaths() {
//     const launches = await getAllPeticiones([
//         "kaiju-8",
//         "jujutsu-kaisen",
//         "bleach",
//         "tokyo-revengers",
//         "one-piece",
//     ]);
//     return launches.flatMap((elLisst) => {
//         return elLisst.map((launch) => ({ params: { id: launch.id } }));
//     });
// }

const qrGeneros = launch?.genres.map((e) => {
    if (e === launch?.genres.at(-1)) {
        return e;
    }
    return `${e}, `;
});

const reformatName = (val = "") => {
    const x = val.split("-");
    return x.join(" ");
};

const qrEstado = launch?.status === "Completed" ? "Completado" : "En curso";
const numerosCaps = launch?.episodes.length ?? 3;
const tamañoDescription = launch?.description.length ?? 30;

const qrCambioPorTexto = tamañoDescription <= 50 ? true : false;
const qrCambioTextCorto =
    tamañoDescription >= 220 && tamañoDescription <= 310 ? true : false;
const qrMedioLargo =
    tamañoDescription >= 310 && tamañoDescription <= 600 ? true : false;
const qrCambioLargo = tamañoDescription > 600 ? true : false;
---

<Layout title={`${id} | anime en linea - AnimeVision`}>
    <article>
        <div
            class:list={[
                "grid gap-y-0 grid-flow-row grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 place-items-center",
                {
                    "lg:grid-cols-5": qrCambioPorTexto,
                },
            ]}
        >
            <Image
                class:list={[
                    "rounded-xl shadow-xl",
                    {
                        " h-[17rem] col-span-1 sm:col-span-2 row-start-1 col-start-1 sm:mb-4 mb-0 md:mb-0":
                            qrCambioPorTexto,
                        "col-start-1 row-start-1 col-span-1 row-span-1 md:row-span-3 md:col-span-2":
                            qrCambioTextCorto,
                        "sm:mb-8 w-full h-[75%] sm:row-start-1 sm:col-span-2 sm:row-span-2 ":
                            qrMedioLargo,
                        "h-[80%] w-full sm:row-start-1 sm:col-span-2 sm:row-span-2":
                            qrCambioLargo,
                    },
                ]}
                src={launch?.image ?? ""}
                alt={launch?.otherName ?? ""}
                title={launch?.title}
                height={200}
                width={200}
                loading="eager"
            />

            <h2
                class:list={[
                    "text-2xl text-center py-6 px-2 font-semibold sm:row-start-1",
                    ,
                    {
                        " sm:col-span-4 sm:col-start-3 sm:-translate-y-28 row-start-2":
                            qrCambioPorTexto,
                        "md:col-start-3 md:col-span-4 sm:row-start-1 sm:col-start-2 sm:col-span-2":
                            qrCambioTextCorto,
                        "sm:col-span-4 sm:col-start-3 md:self-baseline translate-y-16":
                            qrMedioLargo,
                        "sm:col-span-4 sm:row-span-1 sm:col-start-3 self-start flex items-center lg:h-28 h-full sm:translate-y-12":
                            qrCambioLargo,
                    },
                ]}
            >
                {launch?.title}
            </h2>

            <div
                class:list={[
                    "m-2 text-center text-[14px] grid place-content-center  gap-x-4 gap-y-2 justify-items-center md:text-[15px]",
                    {
                        " sm:my-12 sm:col-span-4 md:grid-cols-2 sm:grid-cols-1 sm:max-w-xl lg:max-w-3xl sm:row-start-1 sm:col-start-3 md:translate-y-8 sm:translate-y-[5.5rem]":
                            qrCambioPorTexto,
                        "md:col-start-3 md:row-start-2 md:col-span-4 md:grid-cols-2 md:grid-flow-row place-items-center lg:w-full md:w-full sm:row-start-2 sm:col-span-1":
                            qrCambioTextCorto,
                        "lg:grid-flow-col lg:grid-rows-2 lg:col-span-4 sm:col-start-3 sm:col-span-2 sm:text-xs sm:grid sm:grid-cols-2 sm:grid-flow-row sm:space-y-1 grid grid-cols-3 h-52 mb-4":
                            qrMedioLargo,
                        " m-6 md:mt-0 lg:mt-6 sm:self-start sm:col-span-6 sm:row-start-3 sm:row-span-1 sm:col-start-1 sm:grid-flow-col sm:grid-rows-2 h-auto":
                            qrCambioLargo,
                    },
                ]}
            >
                <b
                    class:list={[
                        "text-center font-medium ",
                        { "md:row-start-3": qrCambioTextCorto },
                    ]}
                >
                    Genero: <span class="font-normal"> {qrGeneros}</span>
                </b>
                <b class="font-medium"
                    >Anime creado en el año <span class="font-normal"
                        >{launch?.releaseDate}</span
                    ></b
                >
                <b class="font-medium capitalize">
                    Tramitido: <span class="font-normal"> {launch?.type}</span>
                </b>
                <b class="font-medium"
                    >Estado del anime: <span class="font-normal"
                        >{qrEstado}</span
                    ></b
                >
                <b class="font-medium"
                    >Numero de episodios: <span class="font-normal"
                        >{launch?.totalEpisodes}</span
                    ></b
                >
                <b class="font-medium">
                    Doblaje: <span class="font-normal">
                        {launch?.subOrDub}</span
                    >
                </b>

                {
                    qrCambioPorTexto ? (
                        <p
                            class:list={[
                                "text-lg text-center ",
                                {
                                    "sm:col-span-1 md:col-span-2 row-start-1 md:row-start-5 sm:row-start-7 md:w-full md:-translate-x-0 md:-translate-y-0 sm:w-[200%] sm:-translate-x-[80%] sm:-translate-y-[2.1rem]":
                                        qrCambioPorTexto,
                                    "h-[47vh]": qrCambioLargo,
                                    "sm:col-span-3": qrCambioTextCorto,
                                },
                            ]}
                        >
                            {launch?.description}
                        </p>
                    ) : (
                        ""
                    )
                }
            </div>

            <div
                class:list={[
                    "flex w-full sm:flex-row flex-col text-center text-3xl font-medium py-6 relative",
                    {
                        "flex-col col-span-1 sm:col-span-3 md:col-span-6 ":
                            qrCambioPorTexto,

                        "sm:flex-row sm:justify-center sm:gap-4 sm:row-span-1 sm:col-span-6 sm:col-start-1 sm:row-start-4":
                            !qrCambioPorTexto,
                    },
                ]}
            >
                <div
                    class="h-80 basis-full md:basis-6/12 flex flex-col items-center gap-2"
                >
                    <div class="h-16 mb-2">
                        <h2 class="pb-2">Tablero de Opciones</h2>
                    </div>
                    <div
                        class="sm:min-h-56 max-h-48 min-w-[calc(20rem+4px)] bg-slate-800 relative rounded-md p-4 shadow-xl"
                    >
                        <Counter
                            changeTamaño={qrCambioPorTexto}
                            imgBgVoid={launch?.image}
                            client:load
                            id={id}
                        />
                    </div>
                </div>
                <!-- capitulos site -->
                <div
                    class="h-80 basis-full md:basis-6/12 flex flex-col items-center gap-2"
                >
                    <div class="mb-2 h-16">
                        <h3 class="pb-2">Capitulos</h3>
                    </div>
                    <div
                        id="scroll-caps"
                        class="sm:min-h-56 max-h-48 w-[calc(20rem+4px)] py-4 bg-slate-800 relative rounded-md shadow-xl"
                    >
                        <div
                            class="h-[20%] flex justify-center items-center relative"
                        >
                            <b class="mx-auto pb-2 text-2xl font-bold"
                                >Total de Capitulos: {launch?.totalEpisodes}</b
                            >
                        </div>
                        <div
                            class:list={[
                                "sm:h-[calc(80%-1px)] h-[6.5rem] pe-1 pt-4  flex flex-col items-center gap-3 scroll-smooth overflow-y-auto overflow-x-hidden snap-mandatory snap-y mx-3",
                                ,
                                {
                                    "justify-center": numerosCaps <= 2,
                                },
                            ]}
                        >
                            {
                                launch?.episodes.map((episode) => (
                                    <BtnsCaps
                                        imgCap={launch.image}
                                        nameCap={reformatName(episode.id)}
                                        descCap={launch.description.slice(
                                            0,
                                            25,
                                        )}
                                        urlCap="kaijuu-8-gou-episode-1"
                                        nameUrlcap={episode.id}
                                    />
                                ))
                            }
                        </div>
                    </div>
                </div>
                <!-- fin capitulos site-->
            </div>

            {
                !qrCambioPorTexto ? (
                    <p
                        class:list={[
                            "text-lg text-center p-8 ",
                            {
                                "col-span-2 mb-4 row-start-1 sm:mt-4 sm:row-start-4":
                                    qrCambioPorTexto,

                                "lg:col-span-4 lg:col-start-3 lg:row-start-3 md:col-span-2 md:row-start-3 md:col-start-3 sm:col-start-2 sm:col-span-2 sm:row-start-2 row-start-3 py-2":
                                    qrCambioTextCorto,

                                "md:translate-y-12 md:row-start-1 md:col-start-3 md:col-span-4 sm:row-start-3 sm:col-span-3 row-start-4 h-[30rem] flex items-center":
                                    qrMedioLargo,

                                "sm:row-start-2 sm:col-span-4 sm:col-start-3 row-start-3 lg:h-[31rem] h-full flex items-center":
                                    qrCambioLargo,
                            },
                        ]}
                    >
                        {launch?.description}
                    </p>
                ) : (
                    ""
                )
            }
            <div
                class:list={[
                    "max-w-sm max-h-10 flex ",
                    {
                        "row-start-5 relative top-10": qrCambioPorTexto,
                        "sm:row-start-5": !qrCambioPorTexto,
                    },
                ]}
            >
                <BtnesMove>Volver</BtnesMove>
            </div>
        </div>
    </article>
    <!-- <article class="py-8"></article> -->
</Layout>
<style is:global>
    *::-webkit-scrollbar-track {
        border-top-right-radius: 50vw 50vw;
        border-bottom-right-radius: 50vw 50vw;
    }

    #favorito:checked + .fav {
        color: red;
        transition: 0.15s;
        animation: open-favorito 0.15s ease-in-out both alternate;
    }
    #favorito:not(:checked) + .fav {
        color: whitesmoke;
        animation: noopen-favorito 0.15s ease-in-out;
        transition: 0.25s;
    }

    #scroll-notas::-webkit-scrollbar-track {
        border-bottom-right-radius: 0;
    }
    .send:active {
        animation: open-favorito 0.15s ease-in-out;
    }
    .fade {
        animation: fade-in 150ms ease;
    }
    .scrolear::-webkit-scrollbar-track-piece {
        scroll-inline-margin: 10px 0;
    }
    @keyframes noopen-favorito {
        0% {
            scale: 1;
        }
        40% {
            scale: 0.85;
        }
        100% {
            scale: 1;
        }
    }
    @keyframes open-favorito {
        0% {
            scale: 1;
        }
        40% {
            scale: 0.85;
        }
        100% {
            scale: 1;
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0.2;
        }
        100% {
            opacity: 1;
        }
    }
</style>
