---
import Image from "astro/components/Image.astro";
import { Switch } from "./Switch";

interface Props {
    nameCap: string;
    descCap: string;
    nameUrlcap?: string;
    urlCap: string;
    imgCap?: string;
}
const {
    nameCap = "",
    descCap = "",
    imgCap = "https://gogocdn.net/cover/kaijuu-8-gou-1711734879.png",
    urlCap = "",
    nameUrlcap = "",
} = Astro.props;
---

<div class="sm:w-full text-[10px] sm:text-xs snap-start">
    <div
        class="cursor-pointer succsess-alert flex items-center gap-1 justify-between w-full rounded-md shadow-md bg-[#3f40429a] px-1 py-[0.1px] max-h-16"
    >
        <a href={urlCap} class="w-[15%] backdrop-blur-2xl p-[2px] my-1">
            <Image
                class="rounded-md h-[52px]"
                src={imgCap}
                alt={descCap}
                loading="eager"
                height={52}
                width={35}
            />
        </a>
        <a
            href={urlCap}
            class="h-full w-[65%] gap-1 flex flex-col justify-center"
        >
            <p class="text-white text-sm">{nameCap} :)</p>
            <p class="text-gray-400">Haz click para ver ahora!</p>
        </a>
        <Switch nameS={nameUrlcap} client:visible />
    </div>
</div>
