---
import ImgsCard from "./ImgsCard.astro";

interface Props {
    name: string;
    urlPerfil: string;
    fechaAnime?: string;
    estado?: string;
    doblaje?: string;
    urlAnime?: string;
    cap?: boolean;
}
const {
    name,
    urlPerfil,
    fechaAnime = "",
    estado = "",
    doblaje = "",
    urlAnime = name,
} = Astro.props;

const qrColor = estado === "Completed" ? true : false;
const qrEstado = estado === "Completed" ? "Finalizado" : "En curso";
let reSetName = name.split("-").join(" ");
// reSetName[4] = reSetName[4].replace("episode", "capitulo
const regexE = /\Episode|episode/;
const regexS = /\Season|season/;
const reformeCap = reSetName.replace(regexE, "capitulo").split("\n").join("");
const reformeTem = reformeCap.replace(regexS, "temporada").split("\n");

const qrDob = doblaje === "sub" ? "Subitulos" : "Doblado";

const qrVacios = (val = "") => (val === "" ? true : false);
---

<article
    class="relative flex flex-col items-center justify-center w-56 transition-all bg-[#121226]/50 border border-midu-primary/40 rounded-[20px] group overflow-hidden hover:scale-110"
>
    <a href={`/anime/${urlAnime}`}
        ><div class="w-full p-[14px] rounded transition">
            <figure class="flex items-center justify-center">
                <ImgsCard src={urlPerfil} alt={name} />
            </figure>
            <header class="flex items-center justify-between mt-4 gap-x-2">
                <h3
                    class:list={[
                        "text-[16px] font-bold text-left text-white",
                        { "max-w-full text-center mx-auto": qrVacios(estado) },
                    ]}
                >
                    {reformeTem.map((el = "") => `${el} `)}
                </h3>
                <span
                    class:list={[
                        "p-1 rounded-md text-[10px] text-white/60 flex items-center",
                        {
                            "bg-green-700 ": qrColor,
                            "bg-red-700": !qrColor,
                            hidden: qrVacios(estado),
                        },
                    ]}>{qrEstado}</span
                >
            </header>
            <footer class="flex items-center justify-between gap-x-2">
                <p
                    class:list={[
                        "text-[10px] text-left text-white/60",
                        {
                            hidden: qrVacios(fechaAnime),
                        },
                    ]}
                >
                    Creado el año: {fechaAnime}
                </p><span class="text-slate-300 text-xs">{qrDob}</span>
            </footer>
        </div></a
    >
</article>
