---
import ImgsCard from "./ImgsCard.astro";

interface Props {
    name: string;
    urlPerfil: string;
    fechaAnime: string;
    estado: string;
    doblaje?: string;
    urlAnime?: string;
}
const {
    name,
    urlPerfil,
    fechaAnime = "24/09/2024",
    estado,
    doblaje,
    urlAnime = name,
} = Astro.props;

const qrColor = estado === "Completed" ? true : false;
const qrEstado = estado === "Completed" ? "Finalizado" : "En curso";
---

<article
    class="relative flex flex-col items-center justify-center w-56 transition-all bg-[#121226]/50 border border-midu-primary/40 rounded-[20px] group overflow-hidden hover:scale-110"
>
    <div class="w-full p-[14px] rounded transition">
        <figure class="flex items-center justify-center">
            <ImgsCard src={urlPerfil} alt={name} />
        </figure>
        <header class="flex items-center justify-between mt-4 gap-x-2">
            <h3 class="text-[16px] font-bold text-left text-white">
                <a href={urlAnime} rel="external noopener nofollow">{name}</a>
            </h3><span
                class:list={[
                    "p-1 rounded-md text-[10px] text-white/60 flex items-center",
                    {
                        "bg-green-700 ": qrColor,
                        "bg-red-700": !qrColor,
                    },
                ]}>{qrEstado}</span
            >
        </header>
        <footer class="flex items-center justify-between gap-x-2">
            <p class="text-xs text-left text-white/60">
                Creado :{fechaAnime}
            </p><span class="text-slate-300 text-xs">{doblaje}</span>
        </footer>
    </div>
</article>
