---
import Card from "./Card.astro";
import { getAllPeticiones } from "../services/peticiones";

const cards = await getAllPeticiones([
    "kaiju-8",
    "jujutsu-kaisen",
    "bleach",
    "tokyo-revenge",
    "one-piece",
]);
// const card = await getLaunById({ id: "kaiju" });
// console.log(card);

interface Props {
    title?: string;
}
const { title = "Recien añadidos" } = Astro.props;
---

<div class="mx-auto max-w-sm">
    <h2 class="text-4xl font-sans font-medium px-auto text-center">{title}</h2>
</div>
<div
    class="grid grid-cols-1 my-10 justify-items-center sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-0 gap-y-6"
>
    {
        cards.flatMap((e) =>
            e.map(
                ({
                    title,
                    id,
                    image,
                    releaseDate: fecha,
                    estado,
                    subOrDub,
                }) => (
                    <Card
                        name={title}
                        urlAnime={id}
                        urlPerfil={image}
                        fechaAnime={fecha}
                        estado={estado}
                        doblaje={subOrDub}
                    />
                ),
            ),
        )
    }
</div>
<footer class="flex place-content-center space-x-14">
    <div class="h-40 flex items-center">pra este lugar seria un footer</div>
    <div class="h-40 flex items-center">pra este lugar seria un footer</div>
    <div class="h-40 flex items-center">pra este lugar seria un footer</div>
</footer>
