---
// interface Props = {

// }const {}=Astro.props
import NavMenu from "./main/NavMenu.astro";
import CardsLayers from "./main/CardsLayers.astro";
import { dd } from "@/services/AniList";
import { undefined } from "astro:schema";
const result = await dd(); // Espera a que dd() retorne los datos procesados
// console.log(result); // Aquí puedes manejar los datos
---

<main class="md:flex block px-12 md:space-x-2">
    <NavMenu />
    <div class="basis-3/5 space-y-2 bg-gray-6 py-5">
        {
            result.map((e) => (
                <CardsLayers
                    id={e.id}
                    title={e.title}
                    tags={e.tags}
                    status={e.status}
                    bannerImage={e.img}
                    coverImage={e.imgFondo}
                    description={e?.description}
                />
            ))
        }
    </div>
</main>
